.title {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.price {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
}

.infBtn {
    padding: 5px;
    background-color: white;
    color: #222;
    border: 0px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.img {
    border-radius: 5px;
    height: 500px;
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
