.header {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 31px;
    gap: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(35, 35, 35);
}

.logo {
    font-size: 20px;
    color: white;
    transition: 0.22s ease;
    cursor: pointer;
    padding-left: 30px;
}

.logo:hover {
    transform: scale(1.1) translateY(-2px);
}

.header__p {
    color: white;
    transition: 0.22s ease;
    cursor: pointer;

    font-size: 18px;
}

.header__p:hover {
    transform: scale(1.05) translateY(-2px);
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.div1 {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.svg__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-right: 30px;
}

.burgerBtn {
    font-size: 35px;
    border: 0px;
    background-color: transparent;
    color: white;
    display: none;
}

@media screen and (max-width: 576px) {
    .burgerBtn {
        display: flex;
    }
    .div {
        display: none;
    }
    .div1 {
        display: flex;
    }
    .svg__container {
        display: none;
    }
    .header {
        padding: 30px;
    }
}
