.main__section {
    background-color: #ffffff;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1 {
    font-size: 90px;
    color: #1b1b1b;
    font-weight: 500;
}

.p {
    font-size: 35px;
    color: #1b1b1b;
}

@media screen and (max-width: 576px) {
    .h1 {
        font-size: 50px;
    }

    .p {
        font-size: 20px;
    }
}
